<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Top navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Disabled</a
            >
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>
    <main role="main" class="container">
      <div class="wrap-list-user">
        <ul
          class="list-infor-user"
          data-xf-init="xencat-infinite "
          data-click="1"
          data-after=""
        >
          <li class="user-item">
            <article id="post-9693" class="item">
              <div class="thumbnail">
                <img
                  src="https://randomuser.me/api/portraits/men/34.jpg"
                  data-int="44"
                  data-gender="men"
                  class=" come_in"
                />
              </div>

              <div class="user-item-content">
                <div class="header-list-style">
                  <span class="cat"> </span>

                  <span class="grid-name">
                    <a data-toggle="modal" data-target="#exampleModalCenter"
                    
                      >Tuấn Nguyễn</a
                    >
                  </span>
                  <span class="grid-age">
                    <a
                      href="/threads/grab-noi-van-se-hoat-dong-binh-thuong-tai-vn-sau-nghi-dinh-10-2020-nd-cp.9693/"
                      >19</a
                    >
                  </span>
                  <div class="grid-post-box-meta">
                    <span class="author-italic"
                      ><image src="./image/heart.png" />
                      <span class="usernameu-concealed"
                        ><span class="username--staff username--moderator"
                          >389</span
                        ></span
                      ></span
                    >
                    <span
                      ><time
                        class="u-dt"
                        dir="auto"
                        datetime="2020-02-18T21:48:05+0700"
                        data-time="1582037285"
                        data-date-string="18/2/20"
                        data-time-string="21:48"
                        title="18/2/20 lúc 21:48"
                        >Lúc 21:48 Hôm qua</time
                      ></span
                    >
                  </div>
                </div>
              
                <div class="item-content">
                  <div class="bbWrapper">
                    Tìm một người giống tôi chân thành và nghiêm túc , độc thân
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="user-item">
            <article id="post-9675" class="item">
              <div class="thumbnail">
                <img
                  src="https://randomuser.me/api/portraits/men/60.jpg"
                  data-int="73"
                  data-gender="men"
                  class=" come_in"
                />
              </div>

              <div class="user-item-content">
                <div class="header-list-style">
                  <span class="cat"> </span>
                  <span class="grid-name">
                    <a data-toggle="modal" data-target="#exampleModal"
                      href="/threads/grab-noi-van-se-hoat-dong-binh-thuong-tai-vn-sau-nghi-dinh-10-2020-nd-cp.9693/"
                      >Huân Nguyễn</a
                    >
                  </span>
                  <span class="grid-age">
                    <a
                      href="/threads/grab-noi-van-se-hoat-dong-binh-thuong-tai-vn-sau-nghi-dinh-10-2020-nd-cp.9693/"
                      >23</a
                    >
                  </span>

                  <div class="grid-post-box-meta">
                    <span class="author-italic"
                      ><image src="./image/heart.png" />
                      <span class="usernameu-concealed"
                        ><span class="username--staff">230</span></span
                      ></span
                    >
                    <span
                      ><time
                        class="u-dt"
                        dir="auto"
                        datetime="2020-02-17T15:31:51+0700"
                        data-time="1581928311"
                        data-date-string="17/2/20"
                        data-time-string="15:31"
                        title="17/2/20 lúc 15:31"
                        >Lúc 15:31, Thứ hai
                      </time></span
                    >
                  </div>
                </div>

                <div class="item-content">
                  <div class="bbWrapper">
                    Tìm một người giống tôi chân thành và nghiêm túc , độc thân
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="user-item">
            <article id="post-9643" class="item">
              <div class="thumbnail">
                <img
                  src="https://randomuser.me/api/portraits/men/44.jpg"
                  data-int="44"
                  data-gender="men"
                  class=" come_in"
                />
              </div>

              <div class="user-item-content">
                <div class="header-list-style">
                  <span class="cat"> </span>

                  <h2 class="grid-title">
                    <a
                      href="/threads/ceo-cu-grab-nguyen-tuan-anh-sang-lam-ceo-cho-vinid-cua-vingroup.9643/"
                      >jun Vu</a
                    >
                  </h2>

                  <div class="grid-post-box-meta">
                    <span class="author-italic"
                      >by
                      <span class="usernameu-concealed"
                        ><span class="username--staff username--moderator"
                          >hoangnam</span
                        ></span
                      ></span
                    >
                    <span
                      ><time
                        class="u-dt"
                        dir="auto"
                        datetime="2020-02-15T09:26:05+0700"
                        data-time="1581733565"
                        data-date-string="15/2/20"
                        data-time-string="09:26"
                        title="15/2/20 lúc 09:26"
                        >Lúc 09:26, Thứ bảy
                      </time></span
                    >
                  </div>
                </div>

                <div class="item-content">
                  <div class="bbWrapper">
                    Nguyễn Tuấn Anh được biết là người đã đặt nên móng cho Grab
                    tại thị trường Việt Nam với hơn 6 năm gắn bó và mới đây đã
                    rời Grab hiện tại đã đầu quân sáng Vingroup với vị trí là
                    CEO Tổng Giám đốc CTCP VinID. VinId là chương trình tích
                    điểm dành...
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="user-item">
            <article id="post-9643" class="item">
              <div class="thumbnail">
                <img
                  src="https://randomuser.me/api/portraits/men/21.jpg"
                  data-int="44"
                  data-gender="men"
                  class=" come_in"
                />
              </div>

              <div class="user-item-content">
                <div class="header-list-style">
                  <span class="cat"> </span>

                  <h2 class="grid-title">
                    <a
                      href="/threads/ceo-cu-grab-nguyen-tuan-anh-sang-lam-ceo-cho-vinid-cua-vingroup.9643/"
                      >Tran Pham</a
                    >
                  </h2>

                  <div class="grid-post-box-meta">
                    <span class="author-italic"
                      >by
                      <span class="usernameu-concealed"
                        ><span class="username--staff username--moderator"
                          >hoangnam</span
                        ></span
                      ></span
                    >
                    <span
                      ><time
                        class="u-dt"
                        dir="auto"
                        datetime="2020-02-15T09:26:05+0700"
                        data-time="1581733565"
                        data-date-string="15/2/20"
                        data-time-string="09:26"
                        title="15/2/20 lúc 09:26"
                        >Lúc 09:26, Thứ bảy
                      </time></span
                    >
                  </div>
                </div>

                <div class="item-content">
                  <div class="bbWrapper">
                    Nguyễn Tuấn Anh được biết là người đã đặt nên móng cho Grab
                    tại thị trường Việt Nam với hơn 6 năm gắn bó và mới đây đã
                    rời Grab hiện tại đã đầu quân sáng Vingroup với vị trí là
                    CEO Tổng Giám đốc CTCP VinID. VinId là chương trình tích
                    Nguyễn Tuấn Anh được biết là người đã đặt nên móng cho Grab
                    tại thị trường Việt Nam với hơn 6 năm gắn bó và mới đây đã
                    rời Grab hiện tại đã đầu quân sáng Vingroup với vị trí là
                    CEO Tổng Giám đốc CTCP VinID. VinId là chương trình tích
                    điểm dành...
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="user-item">
            <article id="post-9693" class="item">
              <div class="thumbnail">
                <img
                  src="https://randomuser.me/api/portraits/men/34.jpg"
                  data-int="44"
                  data-gender="men"
                  class=" come_in"
                />
              </div>

              <div class="user-item-content">
                <div class="header-list-style">
                  <span class="cat"> </span>

                  <h2 class="grid-title">
                    <a
                      href="/threads/grab-noi-van-se-hoat-dong-binh-thuong-tai-vn-sau-nghi-dinh-10-2020-nd-cp.9693/"
                      >Huan Nguyen</a
                    >
                  </h2>

                  <div class="grid-post-box-meta">
                    <span class="author-italic"
                      >by
                      <span class="usernameu-concealed"
                        ><span class="username--staff username--moderator"
                          >hoangnam</span
                        ></span
                      ></span
                    >
                    <span
                      ><time
                        class="u-dt"
                        dir="auto"
                        datetime="2020-02-18T21:48:05+0700"
                        data-time="1582037285"
                        data-date-string="18/2/20"
                        data-time-string="21:48"
                        title="18/2/20 lúc 21:48"
                        >Lúc 21:48 Hôm qua</time
                      ></span
                    >
                  </div>
                </div>

                <div class="item-content">
                  <div class="bbWrapper">
                    Tìm một người giống tôi chân thành và nghiêm túc , độc thân
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="user-item">
            <article id="post-9675" class="item">
              <div class="thumbnail">
                <img
                  src="https://randomuser.me/api/portraits/men/60.jpg"
                  data-int="73"
                  data-gender="men"
                  class=" come_in"
                />
              </div>

              <div class="user-item-content">
                <div class="header-list-style">
                  <span class="cat"> </span>

                  <h2 class="grid-title">
                    <a
                      href="/threads/grab-la-cong-ty-cong-nghe-co-moi-truong-lam-viec-tot-nhat-viet-nam-2020.9675/"
                      >Hòa Pham</a
                    >
                  </h2>

                  <div class="grid-post-box-meta">
                    <span class="author-italic"
                      >by
                      <span class="usernameu-concealed"
                        ><span class="username--staff">lengochang</span></span
                      ></span
                    >
                    <span
                      ><time
                        class="u-dt"
                        dir="auto"
                        datetime="2020-02-17T15:31:51+0700"
                        data-time="1581928311"
                        data-date-string="17/2/20"
                        data-time-string="15:31"
                        title="17/2/20 lúc 15:31"
                        >Lúc 15:31, Thứ hai
                      </time></span
                    >
                  </div>
                </div>

                <div class="item-content">
                  <div class="bbWrapper">
                    Tìm một người giống tôi chân thành và nghiêm túc , độc thân
                  </div>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="top-by-time">
        <h2>Bảng xếp Hạng</h2>
        <br />
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Ngày</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Tháng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Năm</a>
          </li>
        </ul>
        <div class="wrap-list-user tab-content">
          <ul
            id="menu1"
            class="list-infor-user tab-pane fade"
            data-xf-init="xencat-infinite "
            data-click="1"
            data-after=""
          >
            <li class="user-item">
              <article id="post-9693" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/34.jpg"
                    data-int="44"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/grab-noi-van-se-hoat-dong-binh-thuong-tai-vn-sau-nghi-dinh-10-2020-nd-cp.9693/"
                        >Huan Nguyen</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9675" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/60.jpg"
                    data-int="73"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/grab-la-cong-ty-cong-nghe-co-moi-truong-lam-viec-tot-nhat-viet-nam-2020.9675/"
                        >Hòa Pham</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9643" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/44.jpg"
                    data-int="44"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/ceo-cu-grab-nguyen-tuan-anh-sang-lam-ceo-cho-vinid-cua-vingroup.9643/"
                        >jun Vu</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9693" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/34.jpg"
                    data-int="44"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/grab-noi-van-se-hoat-dong-binh-thuong-tai-vn-sau-nghi-dinh-10-2020-nd-cp.9693/"
                        >Huan Nguyen</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9675" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/60.jpg"
                    data-int="73"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/grab-la-cong-ty-cong-nghe-co-moi-truong-lam-viec-tot-nhat-viet-nam-2020.9675/"
                        >Hòa Pham</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9643" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/44.jpg"
                    data-int="44"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/ceo-cu-grab-nguyen-tuan-anh-sang-lam-ceo-cho-vinid-cua-vingroup.9643/"
                        >jun Vu</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
          </ul>
          <ul
            id="menu2"
            class="list-infor-user tab-pane fade"
            data-xf-init="xencat-infinite "
            data-click="1"
            data-after=""
          >
            <li class="user-item">
              <article id="post-9643" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/44.jpg"
                    data-int="44"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/ceo-cu-grab-nguyen-tuan-anh-sang-lam-ceo-cho-vinid-cua-vingroup.9643/"
                        >jun Vu</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9693" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/34.jpg"
                    data-int="44"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/grab-noi-van-se-hoat-dong-binh-thuong-tai-vn-sau-nghi-dinh-10-2020-nd-cp.9693/"
                        >Huan Nguyen</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9675" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/60.jpg"
                    data-int="73"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/grab-la-cong-ty-cong-nghe-co-moi-truong-lam-viec-tot-nhat-viet-nam-2020.9675/"
                        >Hòa Pham</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9643" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/44.jpg"
                    data-int="44"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/ceo-cu-grab-nguyen-tuan-anh-sang-lam-ceo-cho-vinid-cua-vingroup.9643/"
                        >jun Vu</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
          </ul>
          <ul
            id="home"
            class="list-infor-user tab-pane fade active show"
            data-xf-init="xencat-infinite "
            data-click="1"
            data-after=""
          >
            <li class="user-item">
              <article id="post-9693" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/34.jpg"
                    data-int="44"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/grab-noi-van-se-hoat-dong-binh-thuong-tai-vn-sau-nghi-dinh-10-2020-nd-cp.9693/"
                        >Huan Nguyen</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9675" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/60.jpg"
                    data-int="73"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/grab-la-cong-ty-cong-nghe-co-moi-truong-lam-viec-tot-nhat-viet-nam-2020.9675/"
                        >Hòa Pham</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9643" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/44.jpg"
                    data-int="44"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/ceo-cu-grab-nguyen-tuan-anh-sang-lam-ceo-cho-vinid-cua-vingroup.9643/"
                        >jun Vu</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9693" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/34.jpg"
                    data-int="44"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/grab-noi-van-se-hoat-dong-binh-thuong-tai-vn-sau-nghi-dinh-10-2020-nd-cp.9693/"
                        >Huan Nguyen</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9675" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/60.jpg"
                    data-int="73"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/grab-la-cong-ty-cong-nghe-co-moi-truong-lam-viec-tot-nhat-viet-nam-2020.9675/"
                        >Hòa Pham</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9643" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/44.jpg"
                    data-int="44"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/ceo-cu-grab-nguyen-tuan-anh-sang-lam-ceo-cho-vinid-cua-vingroup.9643/"
                        >jun Vu</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9643" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/44.jpg"
                    data-int="44"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/ceo-cu-grab-nguyen-tuan-anh-sang-lam-ceo-cho-vinid-cua-vingroup.9643/"
                        >jun Vu</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
            <li class="user-item">
              <article id="post-9643" class="item">
                <div class="thumbnail">
                  <img
                    src="https://randomuser.me/api/portraits/men/44.jpg"
                    data-int="44"
                    data-gender="men"
                    class=" come_in"
                  />
                </div>

                <div class="user-item-content">
                  <div class="header-list-style">
                    <span class="cat"> </span>

                    <h5 class="grid-title">
                      <a
                        href="/threads/ceo-cu-grab-nguyen-tuan-anh-sang-lam-ceo-cho-vinid-cua-vingroup.9643/"
                        >jun Vu</a
                      >
                    </h5>
                  </div>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
